=begin
#Spore API

#Control plane for the Spore transactional email platform.

The version of the OpenAPI document: 0.1.0
Contact: contact@sporee.fr
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module SporeEmail
  class BillingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Withdraw a scheduled plan change
    # Withdraws a scheduled downgrade before it fires. Idempotent: withdrawing when nothing is scheduled succeeds.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def cancel_billing_pending_change(opts = {})
      cancel_billing_pending_change_with_http_info(opts)
      nil
    end

    # Withdraw a scheduled plan change
    # Withdraws a scheduled downgrade before it fires. Idempotent: withdrawing when nothing is scheduled succeeds.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def cancel_billing_pending_change_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.cancel_billing_pending_change ...'
      end
      # resource path
      local_var_path = '/billing/pending-change'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.cancel_billing_pending_change",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#cancel_billing_pending_change\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Cancel the subscription
    # Stops future charges. Access is NOT revoked: the period already paid for keeps entitling until it lapses, and the response carries that date. Idempotent.
    # @param [Hash] opts the optional parameters
    # @return [CancelSubscriptionResult]
    def cancel_billing_subscription(opts = {})
      data, _status_code, _headers = cancel_billing_subscription_with_http_info(opts)
      data
    end

    # Cancel the subscription
    # Stops future charges. Access is NOT revoked: the period already paid for keeps entitling until it lapses, and the response carries that date. Idempotent.
    # @param [Hash] opts the optional parameters
    # @return [Array<(CancelSubscriptionResult, Integer, Hash)>] CancelSubscriptionResult data, response status code and response headers
    def cancel_billing_subscription_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.cancel_billing_subscription ...'
      end
      # resource path
      local_var_path = '/billing/subscription'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'CancelSubscriptionResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.cancel_billing_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#cancel_billing_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Schedule a downgrade to a smaller plan
    # Schedules a move to a smaller tier, effective at the next renewal. Nothing changes today and nothing is refunded: the tenant keeps the tier they paid for until the current period ends. Moving to the free tier is a cancellation, not a downgrade.
    # @param downgrade_subscription_downgrade_request [DowngradeSubscriptionDowngradeRequest] Target plan
    # @param [Hash] opts the optional parameters
    # @return [DowngradeSubscriptionResult]
    def downgrade_billing_subscription(downgrade_subscription_downgrade_request, opts = {})
      data, _status_code, _headers = downgrade_billing_subscription_with_http_info(downgrade_subscription_downgrade_request, opts)
      data
    end

    # Schedule a downgrade to a smaller plan
    # Schedules a move to a smaller tier, effective at the next renewal. Nothing changes today and nothing is refunded: the tenant keeps the tier they paid for until the current period ends. Moving to the free tier is a cancellation, not a downgrade.
    # @param downgrade_subscription_downgrade_request [DowngradeSubscriptionDowngradeRequest] Target plan
    # @param [Hash] opts the optional parameters
    # @return [Array<(DowngradeSubscriptionResult, Integer, Hash)>] DowngradeSubscriptionResult data, response status code and response headers
    def downgrade_billing_subscription_with_http_info(downgrade_subscription_downgrade_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.downgrade_billing_subscription ...'
      end
      # verify the required parameter 'downgrade_subscription_downgrade_request' is set
      if @api_client.config.client_side_validation && downgrade_subscription_downgrade_request.nil?
        fail ArgumentError, "Missing the required parameter 'downgrade_subscription_downgrade_request' when calling BillingApi.downgrade_billing_subscription"
      end
      # resource path
      local_var_path = '/billing/downgrade'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(downgrade_subscription_downgrade_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DowngradeSubscriptionResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.downgrade_billing_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#downgrade_billing_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read the public plan catalogue
    # Returns the plans on offer, priced and allocated by the billing hub rather than restated here, so the page shown and the amount charged come from the same read. Unauthenticated: the pricing page is a marketing surface with no tenant. A plan the hub does not sell is absent, and one it prices at zero is present but not purchasable — the free tier is signed up for and the granted tier is handed out from the back-office. When the hub cannot be reached the last catalogue served is replayed with degraded=true, every plan unpurchasable and every price id dropped.
    # @param [Hash] opts the optional parameters
    # @return [GetCatalogueCatalogue]
    def get_billing_catalogue(opts = {})
      data, _status_code, _headers = get_billing_catalogue_with_http_info(opts)
      data
    end

    # Read the public plan catalogue
    # Returns the plans on offer, priced and allocated by the billing hub rather than restated here, so the page shown and the amount charged come from the same read. Unauthenticated: the pricing page is a marketing surface with no tenant. A plan the hub does not sell is absent, and one it prices at zero is present but not purchasable — the free tier is signed up for and the granted tier is handed out from the back-office. When the hub cannot be reached the last catalogue served is replayed with degraded&#x3D;true, every plan unpurchasable and every price id dropped.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCatalogueCatalogue, Integer, Hash)>] GetCatalogueCatalogue data, response status code and response headers
    def get_billing_catalogue_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_billing_catalogue ...'
      end
      # resource path
      local_var_path = '/billing/catalogue'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCatalogueCatalogue'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.get_billing_catalogue",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_billing_catalogue\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Read how a checkout ended
    # The provider's redirect carries no outcome — a refused card lands on the same URL as a paid one — so the return page polls this while `status` is `pending` or `redirected`, and opens access on `paid`. Someone else's session reads as not found.
    # @param session_id [String] Checkout session id, from the lungor_session_id query parameter on the return URL
    # @param [Hash] opts the optional parameters
    # @return [GetCheckoutSessionResult]
    def get_billing_checkout_session(session_id, opts = {})
      data, _status_code, _headers = get_billing_checkout_session_with_http_info(session_id, opts)
      data
    end

    # Read how a checkout ended
    # The provider&#39;s redirect carries no outcome — a refused card lands on the same URL as a paid one — so the return page polls this while &#x60;status&#x60; is &#x60;pending&#x60; or &#x60;redirected&#x60;, and opens access on &#x60;paid&#x60;. Someone else&#39;s session reads as not found.
    # @param session_id [String] Checkout session id, from the lungor_session_id query parameter on the return URL
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetCheckoutSessionResult, Integer, Hash)>] GetCheckoutSessionResult data, response status code and response headers
    def get_billing_checkout_session_with_http_info(session_id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_billing_checkout_session ...'
      end
      # verify the required parameter 'session_id' is set
      if @api_client.config.client_side_validation && session_id.nil?
        fail ArgumentError, "Missing the required parameter 'session_id' when calling BillingApi.get_billing_checkout_session"
      end
      # resource path
      local_var_path = '/billing/checkout/{session_id}'.sub('{session_id}', CGI.escape(session_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetCheckoutSessionResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.get_billing_checkout_session",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_billing_checkout_session\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the calling tenant's billing state
    # Returns the subscription's health: which tier is paid for, whether a payment failed and until when it can still be fixed, and any scheduled change. A tenant who never subscribed is reported healthy with hasSubscription=false — the free tier is not a degraded state.
    # @param [Hash] opts the optional parameters
    # @return [GetBillingStateState]
    def get_billing_state(opts = {})
      data, _status_code, _headers = get_billing_state_with_http_info(opts)
      data
    end

    # Get the calling tenant&#39;s billing state
    # Returns the subscription&#39;s health: which tier is paid for, whether a payment failed and until when it can still be fixed, and any scheduled change. A tenant who never subscribed is reported healthy with hasSubscription&#x3D;false — the free tier is not a degraded state.
    # @param [Hash] opts the optional parameters
    # @return [Array<(GetBillingStateState, Integer, Hash)>] GetBillingStateState data, response status code and response headers
    def get_billing_state_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.get_billing_state ...'
      end
      # resource path
      local_var_path = '/billing/state'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'GetBillingStateState'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.get_billing_state",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#get_billing_state\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List how a plan may be paid for
    # Returns the payment methods the provider accepts for this tier, in the order to offer them, each id being what the checkout takes as paymentMethod. The list is asked rather than assumed: a tier billed monthly drops every method that leaves no mandate behind, and the provider refuses at checkout what it omits here. An empty list means no choice to present — check out with no preselection.
    # @param plan [String] Plan to be paid for
    # @param [Hash] opts the optional parameters
    # @return [ListCheckoutMethodsResult]
    def list_billing_checkout_methods(plan, opts = {})
      data, _status_code, _headers = list_billing_checkout_methods_with_http_info(plan, opts)
      data
    end

    # List how a plan may be paid for
    # Returns the payment methods the provider accepts for this tier, in the order to offer them, each id being what the checkout takes as paymentMethod. The list is asked rather than assumed: a tier billed monthly drops every method that leaves no mandate behind, and the provider refuses at checkout what it omits here. An empty list means no choice to present — check out with no preselection.
    # @param plan [String] Plan to be paid for
    # @param [Hash] opts the optional parameters
    # @return [Array<(ListCheckoutMethodsResult, Integer, Hash)>] ListCheckoutMethodsResult data, response status code and response headers
    def list_billing_checkout_methods_with_http_info(plan, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.list_billing_checkout_methods ...'
      end
      # verify the required parameter 'plan' is set
      if @api_client.config.client_side_validation && plan.nil?
        fail ArgumentError, "Missing the required parameter 'plan' when calling BillingApi.list_billing_checkout_methods"
      end
      # resource path
      local_var_path = '/billing/checkout/methods'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'plan'] = plan

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListCheckoutMethodsResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.list_billing_checkout_methods",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#list_billing_checkout_methods\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lungor subscription webhook
    # Ingests Lungor's subscription lifecycle events. Authenticated by HMAC signature, not by API key — never called by clients.
    # @param [Hash] opts the optional parameters
    # @return [String]
    def lungor_webhook(opts = {})
      data, _status_code, _headers = lungor_webhook_with_http_info(opts)
      data
    end

    # Lungor subscription webhook
    # Ingests Lungor&#39;s subscription lifecycle events. Authenticated by HMAC signature, not by API key — never called by clients.
    # @param [Hash] opts the optional parameters
    # @return [Array<(String, Integer, Hash)>] String data, response status code and response headers
    def lungor_webhook_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.lungor_webhook ...'
      end
      # resource path
      local_var_path = '/billing/webhook/lungor'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'String'

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"BillingApi.lungor_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#lungor_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Quote what an upgrade would cost
    # Returns the prorated amount owed today for moving to a larger tier — the difference between the tiers for the time remaining in the period already paid, never the catalogue price. Charges nothing. An amount of 0 means the upgrade is granted without a charge.
    # @param upgrade_subscription_quote_request [UpgradeSubscriptionQuoteRequest] Target plan
    # @param [Hash] opts the optional parameters
    # @return [UpgradeSubscriptionQuote]
    def quote_billing_upgrade(upgrade_subscription_quote_request, opts = {})
      data, _status_code, _headers = quote_billing_upgrade_with_http_info(upgrade_subscription_quote_request, opts)
      data
    end

    # Quote what an upgrade would cost
    # Returns the prorated amount owed today for moving to a larger tier — the difference between the tiers for the time remaining in the period already paid, never the catalogue price. Charges nothing. An amount of 0 means the upgrade is granted without a charge.
    # @param upgrade_subscription_quote_request [UpgradeSubscriptionQuoteRequest] Target plan
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpgradeSubscriptionQuote, Integer, Hash)>] UpgradeSubscriptionQuote data, response status code and response headers
    def quote_billing_upgrade_with_http_info(upgrade_subscription_quote_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.quote_billing_upgrade ...'
      end
      # verify the required parameter 'upgrade_subscription_quote_request' is set
      if @api_client.config.client_side_validation && upgrade_subscription_quote_request.nil?
        fail ArgumentError, "Missing the required parameter 'upgrade_subscription_quote_request' when calling BillingApi.quote_billing_upgrade"
      end
      # resource path
      local_var_path = '/billing/upgrade/quote'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upgrade_subscription_quote_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpgradeSubscriptionQuote'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.quote_billing_upgrade",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#quote_billing_upgrade\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Open a checkout for a paid plan
    # Opens a hosted payment that collects the first period and establishes the mandate future charges ride on. Returns the URL to redirect the customer to. Entitlement is granted only once the payment is confirmed by the provider webhook — this endpoint grants nothing.
    # @param start_checkout_start_checkout_request [StartCheckoutStartCheckoutRequest] Plan to subscribe to
    # @param [Hash] opts the optional parameters
    # @return [StartCheckoutResult]
    def start_billing_checkout(start_checkout_start_checkout_request, opts = {})
      data, _status_code, _headers = start_billing_checkout_with_http_info(start_checkout_start_checkout_request, opts)
      data
    end

    # Open a checkout for a paid plan
    # Opens a hosted payment that collects the first period and establishes the mandate future charges ride on. Returns the URL to redirect the customer to. Entitlement is granted only once the payment is confirmed by the provider webhook — this endpoint grants nothing.
    # @param start_checkout_start_checkout_request [StartCheckoutStartCheckoutRequest] Plan to subscribe to
    # @param [Hash] opts the optional parameters
    # @return [Array<(StartCheckoutResult, Integer, Hash)>] StartCheckoutResult data, response status code and response headers
    def start_billing_checkout_with_http_info(start_checkout_start_checkout_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.start_billing_checkout ...'
      end
      # verify the required parameter 'start_checkout_start_checkout_request' is set
      if @api_client.config.client_side_validation && start_checkout_start_checkout_request.nil?
        fail ArgumentError, "Missing the required parameter 'start_checkout_start_checkout_request' when calling BillingApi.start_billing_checkout"
      end
      # resource path
      local_var_path = '/billing/checkout'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(start_checkout_start_checkout_request)

      # return_type
      return_type = opts[:debug_return_type] || 'StartCheckoutResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.start_billing_checkout",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#start_billing_checkout\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Upgrade to a larger plan
    # Moves the tenant to a larger tier, effective immediately. The prorated difference is charged on the existing mandate BEFORE the tier is applied: a declined charge leaves the tier untouched. Requires explicit consent to the amount returned by the quote endpoint.
    # @param upgrade_subscription_upgrade_request [UpgradeSubscriptionUpgradeRequest] Target plan and accepted amount
    # @param [Hash] opts the optional parameters
    # @return [UpgradeSubscriptionResult]
    def upgrade_billing_subscription(upgrade_subscription_upgrade_request, opts = {})
      data, _status_code, _headers = upgrade_billing_subscription_with_http_info(upgrade_subscription_upgrade_request, opts)
      data
    end

    # Upgrade to a larger plan
    # Moves the tenant to a larger tier, effective immediately. The prorated difference is charged on the existing mandate BEFORE the tier is applied: a declined charge leaves the tier untouched. Requires explicit consent to the amount returned by the quote endpoint.
    # @param upgrade_subscription_upgrade_request [UpgradeSubscriptionUpgradeRequest] Target plan and accepted amount
    # @param [Hash] opts the optional parameters
    # @return [Array<(UpgradeSubscriptionResult, Integer, Hash)>] UpgradeSubscriptionResult data, response status code and response headers
    def upgrade_billing_subscription_with_http_info(upgrade_subscription_upgrade_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BillingApi.upgrade_billing_subscription ...'
      end
      # verify the required parameter 'upgrade_subscription_upgrade_request' is set
      if @api_client.config.client_side_validation && upgrade_subscription_upgrade_request.nil?
        fail ArgumentError, "Missing the required parameter 'upgrade_subscription_upgrade_request' when calling BillingApi.upgrade_billing_subscription"
      end
      # resource path
      local_var_path = '/billing/upgrade'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(upgrade_subscription_upgrade_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UpgradeSubscriptionResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BillingApi.upgrade_billing_subscription",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BillingApi#upgrade_billing_subscription\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
