=begin
#Spore API

#Control plane for the Spore transactional email platform.

The version of the OpenAPI document: 0.1.0
Contact: contact@sporee.fr
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module SporeEmail
  class BrandingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Extract a branding suggestion from a URL or HTML
    # @param id [String] Identity ID
    # @param extract_brand_extract_brand_request [ExtractBrandExtractBrandRequest] Source URL or raw HTML
    # @param [Hash] opts the optional parameters
    # @return [ExtractBrandResponse]
    def extract_brand(id, extract_brand_extract_brand_request, opts = {})
      data, _status_code, _headers = extract_brand_with_http_info(id, extract_brand_extract_brand_request, opts)
      data
    end

    # Extract a branding suggestion from a URL or HTML
    # @param id [String] Identity ID
    # @param extract_brand_extract_brand_request [ExtractBrandExtractBrandRequest] Source URL or raw HTML
    # @param [Hash] opts the optional parameters
    # @return [Array<(ExtractBrandResponse, Integer, Hash)>] ExtractBrandResponse data, response status code and response headers
    def extract_brand_with_http_info(id, extract_brand_extract_brand_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandingApi.extract_brand ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandingApi.extract_brand"
      end
      # verify the required parameter 'extract_brand_extract_brand_request' is set
      if @api_client.config.client_side_validation && extract_brand_extract_brand_request.nil?
        fail ArgumentError, "Missing the required parameter 'extract_brand_extract_brand_request' when calling BrandingApi.extract_brand"
      end
      # resource path
      local_var_path = '/identities/{id}/brand/extract'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(extract_brand_extract_brand_request)

      # return_type
      return_type = opts[:debug_return_type] || 'ExtractBrandResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BrandingApi.extract_brand",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandingApi#extract_brand\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get the branding for a sending identity
    # @param id [String] Identity ID
    # @param [Hash] opts the optional parameters
    # @return [RepositoryBrandView]
    def get_brand(id, opts = {})
      data, _status_code, _headers = get_brand_with_http_info(id, opts)
      data
    end

    # Get the branding for a sending identity
    # @param id [String] Identity ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryBrandView, Integer, Hash)>] RepositoryBrandView data, response status code and response headers
    def get_brand_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandingApi.get_brand ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandingApi.get_brand"
      end
      # resource path
      local_var_path = '/identities/{id}/brand'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RepositoryBrandView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BrandingApi.get_brand",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandingApi#get_brand\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Set the branding for a sending identity
    # @param id [String] Identity ID
    # @param set_brand_set_brand_request [SetBrandSetBrandRequest] Branding fields
    # @param [Hash] opts the optional parameters
    # @return [SetBrandResponse]
    def set_brand(id, set_brand_set_brand_request, opts = {})
      data, _status_code, _headers = set_brand_with_http_info(id, set_brand_set_brand_request, opts)
      data
    end

    # Set the branding for a sending identity
    # @param id [String] Identity ID
    # @param set_brand_set_brand_request [SetBrandSetBrandRequest] Branding fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(SetBrandResponse, Integer, Hash)>] SetBrandResponse data, response status code and response headers
    def set_brand_with_http_info(id, set_brand_set_brand_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: BrandingApi.set_brand ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling BrandingApi.set_brand"
      end
      # verify the required parameter 'set_brand_set_brand_request' is set
      if @api_client.config.client_side_validation && set_brand_set_brand_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_brand_set_brand_request' when calling BrandingApi.set_brand"
      end
      # resource path
      local_var_path = '/identities/{id}/brand'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_brand_set_brand_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SetBrandResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"BrandingApi.set_brand",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PUT, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: BrandingApi#set_brand\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
