=begin
#Spore API

#Control plane for the Spore transactional email platform.

The version of the OpenAPI document: 0.1.0
Contact: contact@sporee.fr
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module SporeEmail
  class IdentitiesApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add an allowed From address (local-part) on a verified identity
    # @param id [String] Identity ID
    # @param add_address_add_address_request [AddAddressAddAddressRequest] Address payload
    # @param [Hash] opts the optional parameters
    # @return [AddAddressAddAddressResult]
    def add_identity_address(id, add_address_add_address_request, opts = {})
      data, _status_code, _headers = add_identity_address_with_http_info(id, add_address_add_address_request, opts)
      data
    end

    # Add an allowed From address (local-part) on a verified identity
    # @param id [String] Identity ID
    # @param add_address_add_address_request [AddAddressAddAddressRequest] Address payload
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddAddressAddAddressResult, Integer, Hash)>] AddAddressAddAddressResult data, response status code and response headers
    def add_identity_address_with_http_info(id, add_address_add_address_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentitiesApi.add_identity_address ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentitiesApi.add_identity_address"
      end
      # verify the required parameter 'add_address_add_address_request' is set
      if @api_client.config.client_side_validation && add_address_add_address_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_address_add_address_request' when calling IdentitiesApi.add_identity_address"
      end
      # resource path
      local_var_path = '/identities/{id}/addresses'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_address_add_address_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddAddressAddAddressResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IdentitiesApi.add_identity_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentitiesApi#add_identity_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Register a sending identity
    # @param create_identity_create_identity_request [CreateIdentityCreateIdentityRequest] Identity to create
    # @param [Hash] opts the optional parameters
    # @return [CreateIdentityCreateIdentityResult]
    def create_identity(create_identity_create_identity_request, opts = {})
      data, _status_code, _headers = create_identity_with_http_info(create_identity_create_identity_request, opts)
      data
    end

    # Register a sending identity
    # @param create_identity_create_identity_request [CreateIdentityCreateIdentityRequest] Identity to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateIdentityCreateIdentityResult, Integer, Hash)>] CreateIdentityCreateIdentityResult data, response status code and response headers
    def create_identity_with_http_info(create_identity_create_identity_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentitiesApi.create_identity ...'
      end
      # verify the required parameter 'create_identity_create_identity_request' is set
      if @api_client.config.client_side_validation && create_identity_create_identity_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_identity_create_identity_request' when calling IdentitiesApi.create_identity"
      end
      # resource path
      local_var_path = '/identities'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_identity_create_identity_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateIdentityCreateIdentityResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IdentitiesApi.create_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentitiesApi#create_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a sending identity
    # @param id [String] Identity ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_identity(id, opts = {})
      delete_identity_with_http_info(id, opts)
      nil
    end

    # Delete a sending identity
    # @param id [String] Identity ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_identity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentitiesApi.delete_identity ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentitiesApi.delete_identity"
      end
      # resource path
      local_var_path = '/identities/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IdentitiesApi.delete_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentitiesApi#delete_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Disable an allowed From address
    # @param id [String] Identity ID
    # @param local_part [String] Address local-part
    # @param [Hash] opts the optional parameters
    # @option opts [DisableAddressDisableAddressRequest] :disable_address_disable_address_request Optional reason
    # @return [DisableAddressDisableAddressResult]
    def disable_identity_address(id, local_part, opts = {})
      data, _status_code, _headers = disable_identity_address_with_http_info(id, local_part, opts)
      data
    end

    # Disable an allowed From address
    # @param id [String] Identity ID
    # @param local_part [String] Address local-part
    # @param [Hash] opts the optional parameters
    # @option opts [DisableAddressDisableAddressRequest] :disable_address_disable_address_request Optional reason
    # @return [Array<(DisableAddressDisableAddressResult, Integer, Hash)>] DisableAddressDisableAddressResult data, response status code and response headers
    def disable_identity_address_with_http_info(id, local_part, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentitiesApi.disable_identity_address ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentitiesApi.disable_identity_address"
      end
      # verify the required parameter 'local_part' is set
      if @api_client.config.client_side_validation && local_part.nil?
        fail ArgumentError, "Missing the required parameter 'local_part' when calling IdentitiesApi.disable_identity_address"
      end
      # resource path
      local_var_path = '/identities/{id}/addresses/{localPart}/disable'.sub('{id}', CGI.escape(id.to_s)).sub('{localPart}', CGI.escape(local_part.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(opts[:'disable_address_disable_address_request'])

      # return_type
      return_type = opts[:debug_return_type] || 'DisableAddressDisableAddressResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IdentitiesApi.disable_identity_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentitiesApi#disable_identity_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a sending identity
    # @param id [String] Identity ID
    # @param [Hash] opts the optional parameters
    # @return [RepositoryIdentityView]
    def get_identity(id, opts = {})
      data, _status_code, _headers = get_identity_with_http_info(id, opts)
      data
    end

    # Get a sending identity
    # @param id [String] Identity ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryIdentityView, Integer, Hash)>] RepositoryIdentityView data, response status code and response headers
    def get_identity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentitiesApi.get_identity ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentitiesApi.get_identity"
      end
      # resource path
      local_var_path = '/identities/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RepositoryIdentityView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IdentitiesApi.get_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentitiesApi#get_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List sending identities
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Offset
    # @return [ListIdentitiesResponse]
    def list_identities(opts = {})
      data, _status_code, _headers = list_identities_with_http_info(opts)
      data
    end

    # List sending identities
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Offset
    # @return [Array<(ListIdentitiesResponse, Integer, Hash)>] ListIdentitiesResponse data, response status code and response headers
    def list_identities_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentitiesApi.list_identities ...'
      end
      # resource path
      local_var_path = '/identities'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListIdentitiesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IdentitiesApi.list_identities",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentitiesApi#list_identities\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove an allowed From address
    # @param id [String] Identity ID
    # @param local_part [String] Address local-part
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_identity_address(id, local_part, opts = {})
      remove_identity_address_with_http_info(id, local_part, opts)
      nil
    end

    # Remove an allowed From address
    # @param id [String] Identity ID
    # @param local_part [String] Address local-part
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_identity_address_with_http_info(id, local_part, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentitiesApi.remove_identity_address ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentitiesApi.remove_identity_address"
      end
      # verify the required parameter 'local_part' is set
      if @api_client.config.client_side_validation && local_part.nil?
        fail ArgumentError, "Missing the required parameter 'local_part' when calling IdentitiesApi.remove_identity_address"
      end
      # resource path
      local_var_path = '/identities/{id}/addresses/{localPart}'.sub('{id}', CGI.escape(id.to_s)).sub('{localPart}', CGI.escape(local_part.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IdentitiesApi.remove_identity_address",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentitiesApi#remove_identity_address\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Verify a sending identity's DNS records
    # @param id [String] Identity ID
    # @param [Hash] opts the optional parameters
    # @return [VerifyIdentityVerifyIdentityResult]
    def verify_identity(id, opts = {})
      data, _status_code, _headers = verify_identity_with_http_info(id, opts)
      data
    end

    # Verify a sending identity&#39;s DNS records
    # @param id [String] Identity ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(VerifyIdentityVerifyIdentityResult, Integer, Hash)>] VerifyIdentityVerifyIdentityResult data, response status code and response headers
    def verify_identity_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: IdentitiesApi.verify_identity ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling IdentitiesApi.verify_identity"
      end
      # resource path
      local_var_path = '/identities/{id}/verify'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'VerifyIdentityVerifyIdentityResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"IdentitiesApi.verify_identity",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: IdentitiesApi#verify_identity\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
