=begin
#Spore API

#Control plane for the Spore transactional email platform.

The version of the OpenAPI document: 0.1.0
Contact: contact@sporee.fr
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module SporeEmail
  class InboundApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get one inbound message
    # @param id [String] Inbound message id
    # @param [Hash] opts the optional parameters
    # @return [RepositoryInboundMessageView]
    def get_inbound_message(id, opts = {})
      data, _status_code, _headers = get_inbound_message_with_http_info(id, opts)
      data
    end

    # Get one inbound message
    # @param id [String] Inbound message id
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryInboundMessageView, Integer, Hash)>] RepositoryInboundMessageView data, response status code and response headers
    def get_inbound_message_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboundApi.get_inbound_message ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling InboundApi.get_inbound_message"
      end
      # resource path
      local_var_path = '/inbound/messages/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RepositoryInboundMessageView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InboundApi.get_inbound_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboundApi#get_inbound_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List inbound messages
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max messages to return (default 50, max 200)
    # @option opts [Integer] :offset Offset into the result set
    # @return [ListInboundMessagesResponse]
    def list_inbound_messages(opts = {})
      data, _status_code, _headers = list_inbound_messages_with_http_info(opts)
      data
    end

    # List inbound messages
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Max messages to return (default 50, max 200)
    # @option opts [Integer] :offset Offset into the result set
    # @return [Array<(ListInboundMessagesResponse, Integer, Hash)>] ListInboundMessagesResponse data, response status code and response headers
    def list_inbound_messages_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InboundApi.list_inbound_messages ...'
      end
      # resource path
      local_var_path = '/inbound/messages'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListInboundMessagesResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"InboundApi.list_inbound_messages",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InboundApi#list_inbound_messages\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
