=begin
#Spore API

#Control plane for the Spore transactional email platform.

The version of the OpenAPI document: 0.1.0
Contact: contact@sporee.fr
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module SporeEmail
  class InternalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Ingest a raw RFC 3464 bounce DSN
    # @param body [String] Raw DSN payload
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id Resolved tenant id; omitted when the DSN carries an envelope id
    # @return [IngestBounceResponse]
    def ingest_bounce(body, opts = {})
      data, _status_code, _headers = ingest_bounce_with_http_info(body, opts)
      data
    end

    # Ingest a raw RFC 3464 bounce DSN
    # @param body [String] Raw DSN payload
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id Resolved tenant id; omitted when the DSN carries an envelope id
    # @return [Array<(IngestBounceResponse, Integer, Hash)>] IngestBounceResponse data, response status code and response headers
    def ingest_bounce_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InternalApi.ingest_bounce ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling InternalApi.ingest_bounce"
      end
      # resource path
      local_var_path = '/internal/bounces'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['text/plain'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Tenant-ID'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'IngestBounceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['InternalToken']

      new_options = opts.merge(
        :operation => :"InternalApi.ingest_bounce",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InternalApi#ingest_bounce\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Ingest a raw RFC 5322 inbound message
    # @param body [String] Raw RFC 5322 message
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id Resolved tenant id; omitted when the recipient domain identifies it
    # @return [IngestInboundMessageResponse]
    def ingest_inbound_message(body, opts = {})
      data, _status_code, _headers = ingest_inbound_message_with_http_info(body, opts)
      data
    end

    # Ingest a raw RFC 5322 inbound message
    # @param body [String] Raw RFC 5322 message
    # @param [Hash] opts the optional parameters
    # @option opts [String] :x_tenant_id Resolved tenant id; omitted when the recipient domain identifies it
    # @return [Array<(IngestInboundMessageResponse, Integer, Hash)>] IngestInboundMessageResponse data, response status code and response headers
    def ingest_inbound_message_with_http_info(body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InternalApi.ingest_inbound_message ...'
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling InternalApi.ingest_inbound_message"
      end
      # resource path
      local_var_path = '/internal/inbound'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['text/plain'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Tenant-ID'] = opts[:'x_tenant_id'] if !opts[:'x_tenant_id'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'IngestInboundMessageResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['InternalToken']

      new_options = opts.merge(
        :operation => :"InternalApi.ingest_inbound_message",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InternalApi#ingest_inbound_message\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign a plan to a tenant (service-to-service)
    # Internal endpoint used by the Stripe webhook bridge. Authenticated via the X-Internal-Token header — NOT the public BearerAuth scheme.
    # @param set_tenant_plan_set_tenant_plan_request [SetTenantPlanSetTenantPlanRequest] Tenant + plan to assign
    # @param [Hash] opts the optional parameters
    # @return [DomainTenantPlan]
    def set_tenant_plan(set_tenant_plan_set_tenant_plan_request, opts = {})
      data, _status_code, _headers = set_tenant_plan_with_http_info(set_tenant_plan_set_tenant_plan_request, opts)
      data
    end

    # Assign a plan to a tenant (service-to-service)
    # Internal endpoint used by the Stripe webhook bridge. Authenticated via the X-Internal-Token header — NOT the public BearerAuth scheme.
    # @param set_tenant_plan_set_tenant_plan_request [SetTenantPlanSetTenantPlanRequest] Tenant + plan to assign
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainTenantPlan, Integer, Hash)>] DomainTenantPlan data, response status code and response headers
    def set_tenant_plan_with_http_info(set_tenant_plan_set_tenant_plan_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InternalApi.set_tenant_plan ...'
      end
      # verify the required parameter 'set_tenant_plan_set_tenant_plan_request' is set
      if @api_client.config.client_side_validation && set_tenant_plan_set_tenant_plan_request.nil?
        fail ArgumentError, "Missing the required parameter 'set_tenant_plan_set_tenant_plan_request' when calling InternalApi.set_tenant_plan"
      end
      # resource path
      local_var_path = '/internal/tenant/plan'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(set_tenant_plan_set_tenant_plan_request)

      # return_type
      return_type = opts[:debug_return_type] || 'DomainTenantPlan'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['InternalToken']

      new_options = opts.merge(
        :operation => :"InternalApi.set_tenant_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InternalApi#set_tenant_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
