=begin
#Spore API

#Control plane for the Spore transactional email platform.

The version of the OpenAPI document: 0.1.0
Contact: contact@sporee.fr
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module SporeEmail
  class InternalApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Payment provider webhook
    # Receives payment notifications from Mollie. The body is unsigned and carries only a payment id, so the payment is re-fetched with the API key before anything is applied — the authenticated read is the security boundary. Idempotent: replayed notifications are acknowledged without being re-applied.
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def handle_mollie_webhook(opts = {})
      handle_mollie_webhook_with_http_info(opts)
      nil
    end

    # Payment provider webhook
    # Receives payment notifications from Mollie. The body is unsigned and carries only a payment id, so the payment is re-fetched with the API key before anything is applied — the authenticated read is the security boundary. Idempotent: replayed notifications are acknowledged without being re-applied.
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def handle_mollie_webhook_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InternalApi.handle_mollie_webhook ...'
      end
      # resource path
      local_var_path = '/billing/webhook/mollie'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['text/plain']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || []

      new_options = opts.merge(
        :operation => :"InternalApi.handle_mollie_webhook",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InternalApi#handle_mollie_webhook\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Ingest a raw RFC 3464 bounce DSN
    # @param x_tenant_id [String] Resolved tenant id
    # @param body [String] Raw DSN payload
    # @param [Hash] opts the optional parameters
    # @return [IngestBounceResponse]
    def ingest_bounce(x_tenant_id, body, opts = {})
      data, _status_code, _headers = ingest_bounce_with_http_info(x_tenant_id, body, opts)
      data
    end

    # Ingest a raw RFC 3464 bounce DSN
    # @param x_tenant_id [String] Resolved tenant id
    # @param body [String] Raw DSN payload
    # @param [Hash] opts the optional parameters
    # @return [Array<(IngestBounceResponse, Integer, Hash)>] IngestBounceResponse data, response status code and response headers
    def ingest_bounce_with_http_info(x_tenant_id, body, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InternalApi.ingest_bounce ...'
      end
      # verify the required parameter 'x_tenant_id' is set
      if @api_client.config.client_side_validation && x_tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'x_tenant_id' when calling InternalApi.ingest_bounce"
      end
      # verify the required parameter 'body' is set
      if @api_client.config.client_side_validation && body.nil?
        fail ArgumentError, "Missing the required parameter 'body' when calling InternalApi.ingest_bounce"
      end
      # resource path
      local_var_path = '/internal/bounces'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['text/plain'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'X-Tenant-ID'] = x_tenant_id

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(body)

      # return_type
      return_type = opts[:debug_return_type] || 'IngestBounceResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['InternalToken']

      new_options = opts.merge(
        :operation => :"InternalApi.ingest_bounce",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InternalApi#ingest_bounce\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Assign a plan to a tenant (service-to-service)
    # Internal endpoint used by the Stripe webhook bridge. Authenticated via the X-Internal-Token header — NOT the public BearerAuth scheme.
    # @param request [SetTenantPlanSetTenantPlanRequest] Tenant + plan to assign
    # @param [Hash] opts the optional parameters
    # @return [DomainTenantPlan]
    def set_tenant_plan(request, opts = {})
      data, _status_code, _headers = set_tenant_plan_with_http_info(request, opts)
      data
    end

    # Assign a plan to a tenant (service-to-service)
    # Internal endpoint used by the Stripe webhook bridge. Authenticated via the X-Internal-Token header — NOT the public BearerAuth scheme.
    # @param request [SetTenantPlanSetTenantPlanRequest] Tenant + plan to assign
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainTenantPlan, Integer, Hash)>] DomainTenantPlan data, response status code and response headers
    def set_tenant_plan_with_http_info(request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: InternalApi.set_tenant_plan ...'
      end
      # verify the required parameter 'request' is set
      if @api_client.config.client_side_validation && request.nil?
        fail ArgumentError, "Missing the required parameter 'request' when calling InternalApi.set_tenant_plan"
      end
      # resource path
      local_var_path = '/internal/tenant/plan'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(request)

      # return_type
      return_type = opts[:debug_return_type] || 'DomainTenantPlan'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['InternalToken']

      new_options = opts.merge(
        :operation => :"InternalApi.set_tenant_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: InternalApi#set_tenant_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
