=begin
#Spore API

#Control plane for the Spore transactional email platform.

The version of the OpenAPI document: 0.1.0
Contact: contact@sporee.fr
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module SporeEmail
  class MessagingApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get a message
    # @param id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [RepositoryMessageView]
    def get_email(id, opts = {})
      data, _status_code, _headers = get_email_with_http_info(id, opts)
      data
    end

    # Get a message
    # @param id [String] Message ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryMessageView, Integer, Hash)>] RepositoryMessageView data, response status code and response headers
    def get_email_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.get_email ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling MessagingApi.get_email"
      end
      # resource path
      local_var_path = '/emails/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RepositoryMessageView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.get_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#get_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List enqueued/sent messages
    # @param [Hash] opts the optional parameters
    # @option opts [String] :identity_id Filter by identity
    # @option opts [String] :status Filter by status
    # @option opts [String] :q Search subject or recipient
    # @option opts [String] :from Created at &gt;&#x3D; RFC3339 timestamp
    # @option opts [String] :to Created at &lt; RFC3339 timestamp
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Offset
    # @return [ListMessagesResult]
    def list_emails(opts = {})
      data, _status_code, _headers = list_emails_with_http_info(opts)
      data
    end

    # List enqueued/sent messages
    # @param [Hash] opts the optional parameters
    # @option opts [String] :identity_id Filter by identity
    # @option opts [String] :status Filter by status
    # @option opts [String] :q Search subject or recipient
    # @option opts [String] :from Created at &gt;&#x3D; RFC3339 timestamp
    # @option opts [String] :to Created at &lt; RFC3339 timestamp
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Offset
    # @return [Array<(ListMessagesResult, Integer, Hash)>] ListMessagesResult data, response status code and response headers
    def list_emails_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.list_emails ...'
      end
      allowable_values = ["accepted", "queued", "sent", "delivered", "deferred", "bounced", "failed"]
      if @api_client.config.client_side_validation && opts[:'status'] && !allowable_values.include?(opts[:'status'])
        fail ArgumentError, "invalid value for \"status\", must be one of #{allowable_values}"
      end
      # resource path
      local_var_path = '/emails'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'identityId'] = opts[:'identity_id'] if !opts[:'identity_id'].nil?
      query_params[:'status'] = opts[:'status'] if !opts[:'status'].nil?
      query_params[:'q'] = opts[:'q'] if !opts[:'q'].nil?
      query_params[:'from'] = opts[:'from'] if !opts[:'from'].nil?
      query_params[:'to'] = opts[:'to'] if !opts[:'to'].nil?
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListMessagesResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.list_emails",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#list_emails\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Enqueue a transactional email
    # @param send_email_send_email_request [SendEmailSendEmailRequest] Email to send
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Unique retry key kept for 24 hours
    # @return [SendEmailSendEmailResult]
    def send_email(send_email_send_email_request, opts = {})
      data, _status_code, _headers = send_email_with_http_info(send_email_send_email_request, opts)
      data
    end

    # Enqueue a transactional email
    # @param send_email_send_email_request [SendEmailSendEmailRequest] Email to send
    # @param [Hash] opts the optional parameters
    # @option opts [String] :idempotency_key Unique retry key kept for 24 hours
    # @return [Array<(SendEmailSendEmailResult, Integer, Hash)>] SendEmailSendEmailResult data, response status code and response headers
    def send_email_with_http_info(send_email_send_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.send_email ...'
      end
      # verify the required parameter 'send_email_send_email_request' is set
      if @api_client.config.client_side_validation && send_email_send_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_email_send_email_request' when calling MessagingApi.send_email"
      end
      # resource path
      local_var_path = '/emails'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end
      header_params[:'Idempotency-Key'] = opts[:'idempotency_key'] if !opts[:'idempotency_key'].nil?

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_email_send_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendEmailSendEmailResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.send_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#send_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Send a diagnostic test email from the UI
    # Sends a server-built email through the full DKIM-sign + outbox + MTA pipeline. Bypasses the monthly quota and tags the message as kind=test.
    # @param send_test_email_send_test_email_request [SendTestEmailSendTestEmailRequest] Test parameters
    # @param [Hash] opts the optional parameters
    # @return [SendTestEmailSendTestEmailResult]
    def send_test_email(send_test_email_send_test_email_request, opts = {})
      data, _status_code, _headers = send_test_email_with_http_info(send_test_email_send_test_email_request, opts)
      data
    end

    # Send a diagnostic test email from the UI
    # Sends a server-built email through the full DKIM-sign + outbox + MTA pipeline. Bypasses the monthly quota and tags the message as kind&#x3D;test.
    # @param send_test_email_send_test_email_request [SendTestEmailSendTestEmailRequest] Test parameters
    # @param [Hash] opts the optional parameters
    # @return [Array<(SendTestEmailSendTestEmailResult, Integer, Hash)>] SendTestEmailSendTestEmailResult data, response status code and response headers
    def send_test_email_with_http_info(send_test_email_send_test_email_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: MessagingApi.send_test_email ...'
      end
      # verify the required parameter 'send_test_email_send_test_email_request' is set
      if @api_client.config.client_side_validation && send_test_email_send_test_email_request.nil?
        fail ArgumentError, "Missing the required parameter 'send_test_email_send_test_email_request' when calling MessagingApi.send_test_email"
      end
      # resource path
      local_var_path = '/emails/test'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(send_test_email_send_test_email_request)

      # return_type
      return_type = opts[:debug_return_type] || 'SendTestEmailSendTestEmailResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"MessagingApi.send_test_email",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: MessagingApi#send_test_email\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
