=begin
#Spore API

#Control plane for the Spore transactional email platform.

The version of the OpenAPI document: 0.1.0
Contact: contact@sporee.fr
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module SporeEmail
  class PlansApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the calling tenant's plan
    # Returns the plan and current billing period for the authenticated tenant. Tenants without an explicit assignment default to the Free plan.
    # @param [Hash] opts the optional parameters
    # @return [DomainTenantPlan]
    def get_tenant_plan(opts = {})
      data, _status_code, _headers = get_tenant_plan_with_http_info(opts)
      data
    end

    # Get the calling tenant&#39;s plan
    # Returns the plan and current billing period for the authenticated tenant. Tenants without an explicit assignment default to the Free plan.
    # @param [Hash] opts the optional parameters
    # @return [Array<(DomainTenantPlan, Integer, Hash)>] DomainTenantPlan data, response status code and response headers
    def get_tenant_plan_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: PlansApi.get_tenant_plan ...'
      end
      # resource path
      local_var_path = '/tenant/plan'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'DomainTenantPlan'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"PlansApi.get_tenant_plan",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: PlansApi#get_tenant_plan\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
