=begin
#Spore API

#Control plane for the Spore transactional email platform.

The version of the OpenAPI document: 0.1.0
Contact: contact@sporee.fr
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module SporeEmail
  class ReputationApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Get the current sending reputation for the authenticated tenant
    # Bounce rate over the trailing window plus the freeze state. belowMinVolume means the window holds too few sends for the rate to be acted on.
    # @param [Hash] opts the optional parameters
    # @return [RepositoryStateView]
    def get_reputation(opts = {})
      data, _status_code, _headers = get_reputation_with_http_info(opts)
      data
    end

    # Get the current sending reputation for the authenticated tenant
    # Bounce rate over the trailing window plus the freeze state. belowMinVolume means the window holds too few sends for the rate to be acted on.
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryStateView, Integer, Hash)>] RepositoryStateView data, response status code and response headers
    def get_reputation_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReputationApi.get_reputation ...'
      end
      # resource path
      local_var_path = '/reputation'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RepositoryStateView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"ReputationApi.get_reputation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReputationApi#get_reputation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Lift a sending freeze on a tenant
    # Internal endpoint. Requires the X-Internal-Token header. Unfreezing is manual by design — a frozen tenant never thaws on its own.
    # @param tenant_id [String] Tenant id
    # @param unfreeze_unfreeze_request [UnfreezeUnfreezeRequest] Reason for lifting the freeze
    # @param [Hash] opts the optional parameters
    # @return [UnfreezeResponse]
    def unfreeze_tenant_reputation(tenant_id, unfreeze_unfreeze_request, opts = {})
      data, _status_code, _headers = unfreeze_tenant_reputation_with_http_info(tenant_id, unfreeze_unfreeze_request, opts)
      data
    end

    # Lift a sending freeze on a tenant
    # Internal endpoint. Requires the X-Internal-Token header. Unfreezing is manual by design — a frozen tenant never thaws on its own.
    # @param tenant_id [String] Tenant id
    # @param unfreeze_unfreeze_request [UnfreezeUnfreezeRequest] Reason for lifting the freeze
    # @param [Hash] opts the optional parameters
    # @return [Array<(UnfreezeResponse, Integer, Hash)>] UnfreezeResponse data, response status code and response headers
    def unfreeze_tenant_reputation_with_http_info(tenant_id, unfreeze_unfreeze_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: ReputationApi.unfreeze_tenant_reputation ...'
      end
      # verify the required parameter 'tenant_id' is set
      if @api_client.config.client_side_validation && tenant_id.nil?
        fail ArgumentError, "Missing the required parameter 'tenant_id' when calling ReputationApi.unfreeze_tenant_reputation"
      end
      # verify the required parameter 'unfreeze_unfreeze_request' is set
      if @api_client.config.client_side_validation && unfreeze_unfreeze_request.nil?
        fail ArgumentError, "Missing the required parameter 'unfreeze_unfreeze_request' when calling ReputationApi.unfreeze_tenant_reputation"
      end
      # resource path
      local_var_path = '/internal/reputation/{tenantId}/unfreeze'.sub('{tenantId}', CGI.escape(tenant_id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(unfreeze_unfreeze_request)

      # return_type
      return_type = opts[:debug_return_type] || 'UnfreezeResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['InternalToken']

      new_options = opts.merge(
        :operation => :"ReputationApi.unfreeze_tenant_reputation",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: ReputationApi#unfreeze_tenant_reputation\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
