=begin
#Spore API

#Control plane for the Spore transactional email platform.

The version of the OpenAPI document: 0.1.0
Contact: contact@sporee.fr
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module SporeEmail
  class SuppressionsApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Add an email to the suppression list
    # @param add_suppression_add_suppression_request [AddSuppressionAddSuppressionRequest] Suppression to add
    # @param [Hash] opts the optional parameters
    # @return [AddSuppressionResponse]
    def add_suppression(add_suppression_add_suppression_request, opts = {})
      data, _status_code, _headers = add_suppression_with_http_info(add_suppression_add_suppression_request, opts)
      data
    end

    # Add an email to the suppression list
    # @param add_suppression_add_suppression_request [AddSuppressionAddSuppressionRequest] Suppression to add
    # @param [Hash] opts the optional parameters
    # @return [Array<(AddSuppressionResponse, Integer, Hash)>] AddSuppressionResponse data, response status code and response headers
    def add_suppression_with_http_info(add_suppression_add_suppression_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionsApi.add_suppression ...'
      end
      # verify the required parameter 'add_suppression_add_suppression_request' is set
      if @api_client.config.client_side_validation && add_suppression_add_suppression_request.nil?
        fail ArgumentError, "Missing the required parameter 'add_suppression_add_suppression_request' when calling SuppressionsApi.add_suppression"
      end
      # resource path
      local_var_path = '/suppressions'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(add_suppression_add_suppression_request)

      # return_type
      return_type = opts[:debug_return_type] || 'AddSuppressionResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionsApi.add_suppression",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionsApi#add_suppression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List suppressed emails
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Offset
    # @return [ListSuppressionsResponse]
    def list_suppressions(opts = {})
      data, _status_code, _headers = list_suppressions_with_http_info(opts)
      data
    end

    # List suppressed emails
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Offset
    # @return [Array<(ListSuppressionsResponse, Integer, Hash)>] ListSuppressionsResponse data, response status code and response headers
    def list_suppressions_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionsApi.list_suppressions ...'
      end
      # resource path
      local_var_path = '/suppressions'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListSuppressionsResponse'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionsApi.list_suppressions",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionsApi#list_suppressions\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Remove an email from the suppression list
    # @param email [String] Suppressed email
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def remove_suppression(email, opts = {})
      remove_suppression_with_http_info(email, opts)
      nil
    end

    # Remove an email from the suppression list
    # @param email [String] Suppressed email
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def remove_suppression_with_http_info(email, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: SuppressionsApi.remove_suppression ...'
      end
      # verify the required parameter 'email' is set
      if @api_client.config.client_side_validation && email.nil?
        fail ArgumentError, "Missing the required parameter 'email' when calling SuppressionsApi.remove_suppression"
      end
      # resource path
      local_var_path = '/suppressions/{email}'.sub('{email}', CGI.escape(email.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"SuppressionsApi.remove_suppression",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: SuppressionsApi#remove_suppression\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
