=begin
#Spore API

#Control plane for the Spore transactional email platform.

The version of the OpenAPI document: 0.1.0
Contact: contact@sporee.fr
Generated by: https://openapi-generator.tech
Generator version: 7.24.0

=end

require 'cgi'

module SporeEmail
  class WebhooksApi
    attr_accessor :api_client

    def initialize(api_client = ApiClient.default)
      @api_client = api_client
    end
    # Create a webhook endpoint
    # @param create_endpoint_create_endpoint_request [CreateEndpointCreateEndpointRequest] Endpoint to create
    # @param [Hash] opts the optional parameters
    # @return [CreateEndpointResult]
    def create_webhook_endpoint(create_endpoint_create_endpoint_request, opts = {})
      data, _status_code, _headers = create_webhook_endpoint_with_http_info(create_endpoint_create_endpoint_request, opts)
      data
    end

    # Create a webhook endpoint
    # @param create_endpoint_create_endpoint_request [CreateEndpointCreateEndpointRequest] Endpoint to create
    # @param [Hash] opts the optional parameters
    # @return [Array<(CreateEndpointResult, Integer, Hash)>] CreateEndpointResult data, response status code and response headers
    def create_webhook_endpoint_with_http_info(create_endpoint_create_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.create_webhook_endpoint ...'
      end
      # verify the required parameter 'create_endpoint_create_endpoint_request' is set
      if @api_client.config.client_side_validation && create_endpoint_create_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'create_endpoint_create_endpoint_request' when calling WebhooksApi.create_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhooks/endpoints'

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(create_endpoint_create_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type] || 'CreateEndpointResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.create_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#create_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Delete a webhook endpoint
    # @param id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def delete_webhook_endpoint(id, opts = {})
      delete_webhook_endpoint_with_http_info(id, opts)
      nil
    end

    # Delete a webhook endpoint
    # @param id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def delete_webhook_endpoint_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.delete_webhook_endpoint ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.delete_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhooks/endpoints/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['*/*']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.delete_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:DELETE, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#delete_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Get a webhook endpoint
    # @param id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [RepositoryEndpointView]
    def get_webhook_endpoint(id, opts = {})
      data, _status_code, _headers = get_webhook_endpoint_with_http_info(id, opts)
      data
    end

    # Get a webhook endpoint
    # @param id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(RepositoryEndpointView, Integer, Hash)>] RepositoryEndpointView data, response status code and response headers
    def get_webhook_endpoint_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.get_webhook_endpoint ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.get_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhooks/endpoints/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RepositoryEndpointView'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.get_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#get_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # List webhook endpoints
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Offset
    # @return [ListEndpointsResult]
    def list_webhook_endpoints(opts = {})
      data, _status_code, _headers = list_webhook_endpoints_with_http_info(opts)
      data
    end

    # List webhook endpoints
    # @param [Hash] opts the optional parameters
    # @option opts [Integer] :limit Page size
    # @option opts [Integer] :offset Offset
    # @return [Array<(ListEndpointsResult, Integer, Hash)>] ListEndpointsResult data, response status code and response headers
    def list_webhook_endpoints_with_http_info(opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.list_webhook_endpoints ...'
      end
      # resource path
      local_var_path = '/webhooks/endpoints'

      # query parameters
      query_params = opts[:query_params] || {}
      query_params[:'limit'] = opts[:'limit'] if !opts[:'limit'].nil?
      query_params[:'offset'] = opts[:'offset'] if !opts[:'offset'].nil?

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'ListEndpointsResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.list_webhook_endpoints",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:GET, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#list_webhook_endpoints\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Rotate a webhook endpoint's signing secret
    # @param id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [RotateSecretResult]
    def rotate_webhook_secret(id, opts = {})
      data, _status_code, _headers = rotate_webhook_secret_with_http_info(id, opts)
      data
    end

    # Rotate a webhook endpoint&#39;s signing secret
    # @param id [String] Endpoint ID
    # @param [Hash] opts the optional parameters
    # @return [Array<(RotateSecretResult, Integer, Hash)>] RotateSecretResult data, response status code and response headers
    def rotate_webhook_secret_with_http_info(id, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.rotate_webhook_secret ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.rotate_webhook_secret"
      end
      # resource path
      local_var_path = '/webhooks/endpoints/{id}/rotate-secret'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body]

      # return_type
      return_type = opts[:debug_return_type] || 'RotateSecretResult'

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.rotate_webhook_secret",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:POST, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#rotate_webhook_secret\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end

    # Update a webhook endpoint
    # @param id [String] Endpoint ID
    # @param update_endpoint_update_endpoint_request [UpdateEndpointUpdateEndpointRequest] Updated fields
    # @param [Hash] opts the optional parameters
    # @return [nil]
    def update_webhook_endpoint(id, update_endpoint_update_endpoint_request, opts = {})
      update_webhook_endpoint_with_http_info(id, update_endpoint_update_endpoint_request, opts)
      nil
    end

    # Update a webhook endpoint
    # @param id [String] Endpoint ID
    # @param update_endpoint_update_endpoint_request [UpdateEndpointUpdateEndpointRequest] Updated fields
    # @param [Hash] opts the optional parameters
    # @return [Array<(nil, Integer, Hash)>] nil, response status code and response headers
    def update_webhook_endpoint_with_http_info(id, update_endpoint_update_endpoint_request, opts = {})
      if @api_client.config.debugging
        @api_client.config.logger.debug 'Calling API: WebhooksApi.update_webhook_endpoint ...'
      end
      # verify the required parameter 'id' is set
      if @api_client.config.client_side_validation && id.nil?
        fail ArgumentError, "Missing the required parameter 'id' when calling WebhooksApi.update_webhook_endpoint"
      end
      # verify the required parameter 'update_endpoint_update_endpoint_request' is set
      if @api_client.config.client_side_validation && update_endpoint_update_endpoint_request.nil?
        fail ArgumentError, "Missing the required parameter 'update_endpoint_update_endpoint_request' when calling WebhooksApi.update_webhook_endpoint"
      end
      # resource path
      local_var_path = '/webhooks/endpoints/{id}'.sub('{id}', CGI.escape(id.to_s))

      # query parameters
      query_params = opts[:query_params] || {}

      # header parameters
      header_params = opts[:header_params] || {}
      # HTTP header 'Accept' (if needed)
      header_params['Accept'] = @api_client.select_header_accept(['application/json']) unless header_params['Accept']
      # HTTP header 'Content-Type'
      content_type = @api_client.select_header_content_type(['application/json'])
      if !content_type.nil?
          header_params['Content-Type'] = content_type
      end

      # form parameters
      form_params = opts[:form_params] || {}

      # http body (model)
      post_body = opts[:debug_body] || @api_client.object_to_http_body(update_endpoint_update_endpoint_request)

      # return_type
      return_type = opts[:debug_return_type]

      # auth_names
      auth_names = opts[:debug_auth_names] || ['BearerAuth']

      new_options = opts.merge(
        :operation => :"WebhooksApi.update_webhook_endpoint",
        :header_params => header_params,
        :query_params => query_params,
        :form_params => form_params,
        :body => post_body,
        :auth_names => auth_names,
        :return_type => return_type
      )

      data, status_code, headers = @api_client.call_api(:PATCH, local_var_path, new_options)
      if @api_client.config.debugging
        @api_client.config.logger.debug "API called: WebhooksApi#update_webhook_endpoint\nData: #{data.inspect}\nStatus code: #{status_code}\nHeaders: #{headers}"
      end
      return data, status_code, headers
    end
  end
end
